<!--The content below is only a placeholder and can be replaced.-->

<div class="app-container">
  <div class="padding-md">
    <img src="assets/wc_logo.png"/>
  </div>
  <div  class="padding-md">
      <form [formGroup]="searchForm" novalidate>
          <div class="form-group">
            <varietal-dropdown
              [searchForm]="searchForm"
              [varietals]="varietals | async">
            </varietal-dropdown>
            <region-dropdown
              [searchForm]="searchForm"
              [regions]="regions">
            </region-dropdown>
            <vintage-dropdown
              [searchForm]="searchForm"
              [vintages]="vintages">
            </vintage-dropdown>
          </div>
      </form>
  </div>
</div>
<router-outlet></router-outlet>
