<!--The content below is only a placeholder and can be replaced.-->

<div class="app-container">
  <div class="padding-md">
    <img src="assets/wc_logo.png"/>
  </div>
  <div  class="padding-md">
      <form [formGroup]="searchForm" novalidate>
          <div class="form-control">
            <varietal-dropdown
              [searchForm]="searchForm"
              [varietals]="varietals">
            </varietal-dropdown>
          </div>
          <div class="form-control">
            <region-dropdown
              [searchForm]="searchForm"
              [regions]="regions">
            </region-dropdown>
          </div>
          <div class="form-control">
            <vintage-dropdown
              [searchForm]="searchForm"
              [vintages]="vintages">
            </vintage-dropdown>
          </div>
          <div class="form-control">
            <button>
              <div class="send-button">Check my wine</div> <i class="material-icons">send</i>
            </button>
          </div>
      </form>

      <owl-carousel
          [options]="{items: 3, dots: true, navigation: true}"
          [items]="images"
          [carouselClasses]="['owl-theme', 'row', 'sliding']"
          #owlCarousel>
          <div class="item" *ngFor="let image of images;let i = index">
            <div class="thumbnail-image">blah</div>
            <img src="assets/wc_logo.png"/>
          </div>
      </owl-carousel>
  </div>
</div>
<router-outlet></router-outlet>
