<!--The content below is only a placeholder and can be replaced.-->

<div class="app-container">
  <div class="padding-md">
    <img src="assets/wc_logo.png"/>
  </div>
  <div  class="padding-md">
      <form [formGroup]="searchForm" novalidate>
          <div class="form-control">
            <varietal-dropdown
              [searchForm]="searchForm"
              [varietals]="varietals">
            </varietal-dropdown>
          </div>
          <div class="form-control">
            <region-dropdown
              [searchForm]="searchForm"
              [regions]="regions">
            </region-dropdown>
          </div>
          <div class="form-control">
            <vintage-dropdown
              [searchForm]="searchForm"
              [vintages]="vintages">
            </vintage-dropdown>
          </div>
          <div class="form-control">
            <button>
              <div class="send-button">Check my wine</div> <i class="material-icons">send</i>
            </button>
          </div>
      </form>
  </div>
</div>
<router-outlet></router-outlet>
