.app-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    .padding-md {
        padding: 15px;
    }

    .form-control {
        padding: 20px;
    }

    .send-button {
        
        vertical-align: middle;
    }
}